
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .3rem;
    overflow: hidden;
    
    >div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .name{
        width: 45%;        
        >p{
            text-transform: capitalize;
            font-size: 1.5rem;
            font-weight: bolder;
            color: #333;
            margin-bottom: .5rem;
        }
        
        >span{
            display: flex;
            
            >p{
                padding: .3rem .8rem;
                border-radius: 50rem;
                text-transform: capitalize;
                margin: .3rem;
                font-weight: bold;
            }
        }
        
        >img{
            height: 15rem;
        }
    }
    
    .status{
        width: 45%;
        margin: 1rem;
        
        >span{
            width: 100%;
            display: flex;
            flex-direction: column;
            
            >div{
                display: flex;
                justify-content: space-between;
                text-transform: capitalize;
                font-size: .8rem;
            }
            
            >progress{
                width: 100%;
                height: .5rem;
                appearance: none;
                margin: .2rem 0;
                
                &::-webkit-progress-bar {
                    background-color: #dadada57;
                    border-radius: 5rem;
                }
                
                &::-webkit-progress-value {
                    background-color: #f8d030;
                    border-radius: 5rem;
                }
            }
        }
    }
    
    .favorite{
        color: #f8d030;
        width: 100%;
        font-size: 3rem;
        
        >svg{
            margin-left: auto;
            cursor: pointer;
        }
    }

    .movesSelect{
        display: flex;
        flex-direction: column;
        width: 100%;

        >input{
            outline: none;
            width: 100%;
            border: 2px solid #dedede;
            padding: .2rem;
            border-radius: 5px;
            font-weight: bolder;
            color: #333;
            margin: .3rem 0;
        }

        >span{
            max-width: 50vw;
            display: flex;
            overflow-y: hidden;
            overflow-x: auto;

            >div{
                padding: .5rem 1rem;
                margin: 2px;
                filter: brightness(.9) opacity(.8);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                min-width: max-content;

                &:hover{
                    filter: brightness(1) opacity(1);
                }

                >b{
                    text-transform: capitalize;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }

        .moves{
            display: flex;
            justify-content: space-between;
            gap: .3rem;
            width: 100%;
            padding: .5rem;
            
            >span{
                text-transform: capitalize;
                flex: 4;
                padding: 1rem .2rem;
                border-radius: 1rem;
                text-align: center;
                font-weight: bold;
                border: 1px solid #fefefe;
            }
        }
    
    }
}

@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;

        .name{
            width: 100%;
        }

        .status{
            width: 100%;
            margin: .5rem 0;
        }

        .movesSelect{
            >span{
                overflow-y: hidden;
                overflow-x: auto;
                flex-wrap: nowrap;
                max-width: 90vw;
            }
        }
    }
}

.active{
    box-shadow: 0px 0px 1px 2px #78c850 !important;  
}
    
.poison{
    color: #fefefe;
    background-color: #a040a0;
}

.grass{
    color: #fefefe;
    background-color: #78c850;
}

.fire{
    color: #fefefe;
    background-color: #f08030;
}

.flying{
    color: #fefefe;
    background-color: #a890f0;
}

.water{
    color: #fefefe;
    background-color: #6890f0;
}

.fighting{
    color: #fefefe;
    background-color: #c03028;
}

.bug{
    color: #fefefe;
    background-color: #a8b820;
}

.normal{
    color: #fefefe;
    background-color: #a8a878;
}

.rock{
    color: #fefefe;
    background-color: #b8a038;
}

.ground{
    color: #fefefe;
    background-color: #e0c068;
}

.steel{
    color: #fefefe;
    background-color: #b8b8d0;
}

.electric{
    color: #fefefe;
    background-color: #f8d030;
}

.ice{
    color: #fefefe;
    background-color: #98d8d8;
}

.psychic{
    color: #fefefe;
    background-color: #f85888;
}

.ghost{
    color: #fefefe;
    background-color: #705898;
}

.dragon{
    color: #fefefe;
    background-color: #7038f8;
}

.fairy{
    color: #fefefe;
    background-color: #f0b6bc;
}

.dark{
    color: #fefefe;
    background-color: #705848;
}