

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;

    
    .back{
        width: 100%;
        color: #727272;
        font-size: 1.3rem;
        
        >svg{
            transition: .3s;
            cursor: pointer;
            
            &:hover{
                color: #3d3d3d;
                transform: scale(1.1);
            }
        }
    }
}